*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
/* header section */

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../imagesfiles/about-background.jpg);
    height: 75vh;
     background-size: cover; 
     background-position: center; 
 } 
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    
} 
 ul li{ 
     display: inline-block; 
     font-size: 25px;
     margin: 7px;
     position: relative;
     
} 

 ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
   border: 1px solid #f6efef;
   transition: 0.6s ease;
}

ul li a:hover{
   background-color: #ecdddd;
   color: #000;

}

ul li.active a{
    background-color: #ecdddd;
   color: #000;
}

.logo img{
    float: left;
    width: 200px;
    height: auto;
}
.main{
    max-width: 2000px;
    margin: auto;
}

.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #fff;
    font-size: 70px;
}
.title h2{
    color: #fff;
    font-size: 50px;
    transform: translate(20%);
}

/* header end */

/* about us section */
/* section title 1 */

section.main2 {
    width: 1178px;
    margin: 100px auto;
    /* position: absolute; */
}

.section-title1{
    text-align: center;
    margin-bottom: 80px;
}
.section-title1 h2{
    font-family: 'Gloock', serif;
    text-transform:capitalize ;
    font-size: 45px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.section-title1 h2::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #00875c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.section-title1 p{
    font-size: 28px;
    margin-top: 10px;
    font-weight: 540;
    line-height: 1.7; 
    font-family: 'Shantell Sans', cursive;  
}

/* section title 2 */

section.main2 {
    width: 1178px;
    margin: 100px auto;
}
.section-title2{
    text-align: center;
    margin-bottom: 80px;
}
.section-title2 h2{
    font-family: 'Gloock', serif;
    text-transform:capitalize ;
    font-size: 45px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.section-title2 h3{
    /* text-transform:capitalize ; */
    font-size: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-title2 h2::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #00875c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.section-title2 p{
    font-size: 28px;
    margin-top: 10px;
    font-weight: 540;
    line-height: 1.7;  
    font-family: 'Shantell Sans', cursive; 
}

/* section title 3 */

section.main2 {
    width: 1178px;
    margin: 100px auto;
}
.section-title3{
    text-align: center;
    margin-bottom: 80px;
}
.section-title3 h2{
    font-family: 'Gloock', serif;
    text-transform:capitalize ;
    font-size: 45px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.section-title3 h2::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #00875c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.section-title3 p{
    font-size: 28px;
    margin-top: 10px;
    font-weight: 540;
    line-height: 1.7; 
    font-family: 'Shantell Sans', cursive;  
}

/* section title 4 */

section.main2 {
    width: 1178px;
    margin: 100px auto;
    position: relative;
}
.section-title4{
    text-align: center;
    margin-bottom: 80px;
}
.section-title4 h2{
    font-family: 'Gloock', serif;
    text-transform:capitalize ;
    font-size: 45px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.section-title4 h2::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #00875c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.section-title4 p{
    font-size: 28px;
    margin-top: 10px;
    font-weight: 540;
    line-height: 1.7;  
    font-family: 'Shantell Sans', cursive; 
}



