/* Menu section */

section.main2 {
    width: 1178px;
    margin: 100px auto;
}
.section-title{
    text-align: center;
    margin-bottom: 80px;
}
.section-title h2{
    text-transform:capitalize ;
    font-size: 35px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.section-title h2::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #00875c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menus{
    display:flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}
 .menu-column{
    width: 31%;
}
.menu-column h4{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}

.menu-column h4::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #00875c;
    bottom: 0;
}

.single-menu{
    display: flex;
    align-items: center;
    margin-top:40px ;
   
}
.single-menu img{
    border-radius: 50%;
    max-width: 110px;
    border: 1px dashed #ddd;
    padding: 3px;
    margin-right: 15px;
    transition: .3s;
    
}
.single-menu:hover img{
    transform: rotate(360deg);
}

.single-menu .menu-content h5{
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px dashed #222;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.single-menu .menu-content h5 span{
    color: tomato;
    float: right;
    margin-left: 20px;
    font-weight: 600;
    font-style: italic;
}


/* media query */


@media only screen and (min-width:992px) and (max-width:1200px){
    .main{
        width:970px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px){
    .main{
        width: 750px;
    }
    .single-menu{
        flex-direction: column;
    }
    .single-menu img{
        margin-bottom: 25px;
    }
}

@media only screen and (max-width:767px){
    .main{
        width:320px;
    }
    .menu-column{
        width:100%;
        margin-bottom: 60px;
    }
    .single-menu{
        flex-direction: column;
    }
    .single-menu img{
        margin-bottom: 25px;
    }
}

/* footer section */

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size:1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.social li{
    margin: 0 10px;
}
.social a{
    text-decoration: none;
    color: #fff;
}
.social a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.social a:hover i{
   color: aqua;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}