*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    background-color:rgb(32, 30, 30);
    background-size: cover;
}

.QR-code img{
    margin-top: 14%;
    margin-left: 35%;
    justify-content: center;
    align-items: center;
}